$primary: #f1356d;

@mixin changePhoto(){
  background-color: transparent;
  color: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  height: 100%;
  width: 15%;
  z-index: 25;
  cursor: pointer;

  &:hover{
    transition: all 0.2s ease;
    background-color: rgba(0,0,0,0.5);
    color: white;
  }
}

.galeria-page {
  padding: 20px;

  h1 {
    text-align: center;
    color: $primary;
    margin-bottom: 30px;
  }
}
.gallery {
  position: relative;

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
    backdrop-filter: blur(5px);
  }

  .bigger-photo{
    background-color: white;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: auto;
    z-index: 20;
    outline: white solid 5px;
    border-radius: 5px;

    @media (max-width: 600px) {
      width: 80vw;
      height: auto;
    }

    .close{
      display: flex;
      position: absolute;
      background: white;
      color: black;
      height: 35px;
      width: 35px;
      top: -30px;
      right: -30px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      z-index: 30;
      cursor: pointer;
    }

    img{
      width: auto;
      height: 100%;
      border-radius: 10px;
      @media (max-width: 600px) {
        width: 100%;
        height: auto;
      }
    }

    .next{
      @include changePhoto;
      top: 0;
      right: 0;
    }
    .prev{
      @include changePhoto;
      left: 0;
    }
  }


  .galeria-grid {
    display: grid;
    gap: 15px;

    // Mobile : 1 obrazek w rzędzie
    grid-template-columns: repeat(1, 1fr);

    // Tablet: 2-3 obrazki w rzędzie
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }

    // Desktop: 4 obrazki w rzędzie
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .img-container {
    outline: transparent solid 5px;
    z-index: 1;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    aspect-ratio: 1 / 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      z-index: 10;
      transform: scale(1.6);
      outline: white solid 5px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}